extends layout

block content
  
  p Username: #{account.username} 
  p Password:  #{account.password}
  p Email: #{account.email} 
  p Age: #{account.age} 
  p Movie: #{account.movie}  
  p Mood: #{account.mood}
  P Animal: #{account.animal}
  br
  a(href='/') Go Back